{% block body %}

       <div class="patisserie-item">
    <a href="{{ path('patisserie_show', {'Slug': patisserie.Slug}) }}">
        <img class="patisserie-image" src="/upload/images/Patisserie/{{ patisserie.image }}" alt="{{ patisserie.name }}">
  

    <h2 class="patisserie-nom">{{ patisserie.name }}</h2>
    {% set prix = patisserie.prix / 100 %}
    <p class="patisserie-prix">{{ prix }} €</p>  </a>
</div>

{% endblock %}

