<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/asset/style.css" rel="stylesheet"/>
    <link href="/asset/produit.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="./slider/fb.png">
    <script src="https://kit.fontawesome.com/3831f62a35.js" crossorigin="anonymous"></script>
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
   
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }} 
    {% endblock %}

    {% block javascripts %}
       {{ encore_entry_script_tags('app') }} 
    {% endblock %}
  </head>
  <body>
  {% block header %}

    <header>
{#      <img width=5% heigth=5% src="/slider/fb.png">#}
      <h1><a href="{{ path ('app_index')}}"> La Miette de Pain</a></h1>
    </header>
    <nav>
      <ul>
        <li class="menu-deroulant">
          <a href="#">Nos produits</a>
          <ul class="sous-menu">
            <li><a href="{{ path ('patisserie_liste')}}">Pâtisseries</a></li>
            <li><a href="{{ path ('viennoiserie_liste')}}">Viennoiseries</a></li>
            <li><a href="{{ path ('traiteur_liste')}}">Traiteur</a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">Évènement</a>
          <ul class="sous-menu">
            <li><a href="#">Fêtes</a></li>
            <li><a href="#">Mariages/Baptêmes</a></li>
            <li><a href="#">Anniversaires</a></li>
          </ul>
        </li>
        <li><a href="/test2/caroussel-controles/index.html">À propos</a></li>
        <li><a href="#">Contactez-nous</a></li>
      </ul>
    </nav>
  {% endblock %}
  {% block body %}

  {% endblock %}
  <footer>
    <div class="grid-container">

      <div class="grid-item">
        <p class="texte3">
          55456454454445Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
          Autem laborum hic quisquam fuga, ipsa quia quasi suscipit <br>
          incidunt laboriosam veniam modi et? Similique optio<br>
          reprehenderit, quae beatae excepturi nesciunt. Repudiandae.
        </p></div>

      <div class="grid-item3">
        <h7>Catégories</h7><br><br>
        <a href="{{ path ('patisserie_liste')}}" >Pâtisserie</a><br>
        <a href="{{ path ('viennoiserie_liste')}}" >Viennoiserie<br>
          <a href="{{ path ('traiteur_liste')}}" >Traiteur</a>
      </div>
      <div class="grid-item4">
        <p>
          Nous contacter<br>
          Pour plus d'information et pour suivre toute les actualités <br> de La Miette de Pain <br><br>
          <i class="fab fa-facebook-square">
          <a href="https://fr-fr.facebook.com/Lamiettedepainvarades/">Facebook</a>
          </i>
          <br>
          <i class="fab fa-instagram">
            Instagram
          </i>
         </p>
      </div>
  </footer>
  </body>
</html>
